{% extends "layout.html" %}


{% block content %}
<h1 class="text-center mt-4 ">
Welcome to Cofee and tweet project
</h1>
<h2>
    {% if form.instance.pk%} Edit Tweet
    {% else%}
    Create Tweet
    {%endif%}
  
    <form method='POST' enctype=multipart/form-data class="form-control">
        {% csrf_token %}
      {{form.as_p}}
      <button class="btn btn-primary" type="submit">New Tweet</button>
    
    </from>
    <a href="{% url 'tweet_list' %}" class="btn btn-success">Back to Tweets</a>
      </h2>
 {% endblock %}