{% extends "layout.html" %}


{% block content %}
<h1 class="text-center mt-4 ">
Welcome to Cofee and tweet project
</h1>
<a href="{% url 'create_form' %}" class="btn btn-primary mb-4">Create a Tweet</a>
<div class="container row gap-3">
 {% if tweets %}
    {% for tweet in tweets%}
      <div class="card" style="width: 18rem;">
       <img src="{{tweet.photo.url}}" class="card-img-top" alt="...">
       <div class="card-body">
          <h5 class="card-title">{{tweet.user.username}}</h5>
          <p class="card-text">{{tweet.text}}</p>
          {% if tweet.user == user %}
        <a href="{% url 'edit_form' tweet.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'delete_tweet' tweet.id %}" class="btn btn-danger">Delete</a>
         {% endif %}
       
       </div>
</div>
{% endfor %} 
{% else %}
  <p>No tweets found.</p>
{% endif %}   
</div>
 {% endblock %}